<% wrap_layout :layout do %>
  <h1>TDD with <%= current_page.data.language %></h1>

  <h2>Installing Homebrew</h2>

  <p>We start by installing Homebrew which will make installing everything else much easier.</p>

  <pre><code>$ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</code></pre>

  <h2>Installing <%= current_page.data.language %></h2>

  <p>The next thing we need to do is install the language on our system.  We'll be using Homebrew to do that.</p>

  <%= section "language_installation" %>

  <h2>Creating a Project</h2>

  <%= section "project_setup" %>

  <h2>Add Unit Testing Library</h2>

  <%= section "testing_library" %>

  <h2>Our First Failing Test</h2>

  <%= section "first_test" %>

<% end %>
