<% wrap_layout :layout do %>
  <h1>TDD with <%= current_page.data.language %></h1>

  <h2>Installing Homebrew</h2>

  <p>We start by installing <a href="http://brew.sh/">Homebrew</a> which will make installing everything else much easier.</p>

  <pre><code>$ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</code></pre>

  <p>Then ensure you have the latest version of Homebrew:</p>

  <pre><code>$ brew update</code></pre>

  <p>And then finally ensure that Homebrew's environment is healthy:</p>

  <pre><code>$ brew doctor</code></pre>

  <p>This may give you some commands to run in order to fix any problems.</p>

  <h2>Installing <%= current_page.data.language %></h2>

  <p>The next thing we need to do is install the language on our system.  We'll be using Homebrew to do that.</p>

  <%= section "language_installation" %>

  <h2>Creating a Project</h2>

  <%= section "project_setup" %>

  <h2>Add Unit Testing Library</h2>

  <%= section "testing_library" %>

  <h2>Our First Failing Test</h2>

  <%= section "first_test" %>

  <h2>Create the Piglatin Class</h2>

  <%= section "piglatin_class" %>

  <h2>Create the Translate Word Method</h2>

  <%= section "translate_word_method" %>

  <h2>Fix the Method Signature</h2>

  <%= section "method_signature" %>

  <h2>Return the Correct Answer</h2>

  <%= section "correct_answer" %>

<% end %>
